# Exclude some project files
.vscode/*
orthoseg_code_ws.code-workspace
orthoseg.code-workspace

# Exclude some generic dirs/files
tmp/
*.pyc
*.log
*/__pycache__/
.coverage*

# Exclude dirs related to the packaging for pypi
build/
orthoseg.egg-info/
dist/

# Exclude sample_projects subdirs we don't want in git
sample_projects/_image_cache
sample_projects/footballfields/models
sample_projects/footballfields/output_vector
sample_projects/footballfields/training

# Exclude tests/test_projects subdirs we don't want in git
tests/test_projects/_image_cache
tests/test_projects/footballfields/labels/backup_v02
tests/test_projects/footballfields/models
tests/test_projects/footballfields/output_vector
tests/test_projects/footballfields/training/01/test
tests/test_projects/footballfields/training/01/train
tests/test_projects/footballfields/training/01/validation
tests/test_projects/footballfields/training/02
tests/test_projects/footballfields/training/02_*
