*.pyc
Old/
tensorboard_logs/
tmp/
local_overrule.ini
*/__pycache__/
.vscode/*
projects_sample/footballfields/models/
projects_sample/footballfields/output_vector/
projects_sample/footballfields/training/
bin/taskrunner.ini
bin/taskrunner_sampleproject.ini
