.vscode/*
build/
orthoseg.egg-info/
dist/

orthoseg/bin/taskrunner.ini
orthoseg/bin/taskrunner_sampleproject.ini
orthoseg_code_ws.code-workspace

sample_projects/_image_cache
sample_projects/footballfields/models
sample_projects/footballfields/output_vector
sample_projects/footballfields/training

# Exclude all project except project_template and footballfields/labels
#projects/*
#!projects/project_template
#!projects/footballfields/labels
#!projects/footballfields/orthoseg_footballfields.qgz

tmp/
*.pyc
*.log
*/__pycache__/
