name: orthoseg-gpu
channels:
  - conda-forge
dependencies:
  - python =3.10
  - pip
  # required
  - gdal
  - gdown
  - geofileops >=0.6,<0.11
  - geopandas-base >=0.12,<1.1
  - matplotlib-base
  - numpy <2
  - owslib
  - pillow
  - pycron
  - pygeoops >=0.2,<0.5
  - pyproj
  - rasterio
  - shapely >=2
  - simplification
  # optional, for CUDA support
  - cudatoolkit >=11.2,<11.3  # cudatoolkit needed for tf 2.10
  - cudnn
  # dependencies of tensorflow that need to be conda versions to avoid binary compatibility issues
  - h5py <3.11  # When a version > 3.10 is used with tf 2.10: segmentation fault
  - pip:
    - orthoseg
    - tensorflow >=2.8,<2.11  # Window native GPU builds only ava!ilable till tf 2.10