name: orthoseg
channels:
  - conda-forge
dependencies:
  - python =3.12
  - pip
  # required
  - gdal
  - gdown
  - geofileops >=0.6,<0.11
  - geopandas-base >=0.12,<1.1
  - matplotlib-base
  - numpy
  - owslib
  - pillow
  - pycron
  - pygeoops >=0.2,<0.5
  - pyproj
  - rasterio
  - shapely >=2
  - simplification
  # optional, for CUDA support
  #- cudatoolkit =12.3
  #- cudnn
  - pip:
    - orthoseg