name: orthoseg-dev
channels:
  - conda-forge
dependencies:
  - python =3.10
  - pip
  # required
  - gdal
  - gdown
  - geofileops >=0.6,<0.11
  - geopandas-base >=0.12,<1.1
  - matplotlib-base
  - numpy <2
  - owslib
  - pillow
  - pycron
  - pygeoops >=0.2,<0.5
  - pyproj
  - rasterio
  - shapely >=2
  - simplification
  # optional, for CUDA support
  #- cudatoolkit ==12.3
  #- cudnn
  # linting
  - mypy ==1.10.1
  - pandas-stubs
  - pre-commit
  - ruff ==0.7.4
  - types-pillow
  # testing
  - pytest
  - pytest-cov
  - pytest-order
  - pip:
    - segmentation-models >=1.0,<1.1
    - tensorflow >=2.8
    - types-shapely
    - types-tensorflow