name: orthoseg-gpu-dev
channels:
  - conda-forge
dependencies:
  - python =3.10
  - pip
  # required
  - gdown
  - geofileops >=0.6,<0.10
  - geopandas-base >=0.12,<1.1
  - matplotlib-base
  - numpy <2
  - owslib
  - pillow
  - pycron
  - pygeoops >=0.2,<0.5
  - pyproj
  - rasterio
  - shapely >=2
  - simplification
  # optional, for CUDA support
  - cudatoolkit >=11.2,<11.3
  - cudnn
  # dependencies of tensorflow that need to be conda versions to evade binary compatibility issues
  - h5py <3.11  # When a version > 3.10 is used with tf 2.10: segmentation fault
  # linting
  - mypy ==1.10.1
  - pandas-stubs
  - pre-commit
  - ruff ==0.5.2
  - types-pillow
  # testing
  - pytest
  - pytest-cov
  - pytest-order
  - pip:
    - segmentation-models >=1.0,<1.1
    - tensorflow >=2.8,<2.11  # Window native GPU builds only ava!ilable till tf 2.10
    - types-shapely
    - types-tensorflow<2.11  # Window native GPU builds only ava!ilable till tf 2.10