[tool.pyright]
ignore = ["*"]

[tool.mypy]
exclude = ["local_ignore"]

[[tool.mypy.overrides]]
module = "gdown.*,geopandas.*,h5py.*,keras.*,matplotlib.*,owslib.*,psutil.*,pycron.*,rasterio.*,segmentation_models.*,setuptools.*,openeo.*,osgeo.*"
ignore_missing_imports = true

[tool.ruff]
target-version = "py310"
line-length = 88
extend-exclude = ["docs/*", "helper_scripts/*", "local_ignore/*"]

[tool.ruff.lint]
select = [
    "YTT",  # flake8-2020
    #"ANN",  # flake8-annotations
    "B",  # flake8-bugbear
    "A",  # flake8-builtins
    "C4",  # flake8-comprehensions
    "T10",  # flake8-debugger
    "ISC",  # flake8-implicit string concatenation
    # "G",  # flake8-logging-format
    "PIE",  # flake8-pie misc lints
    # "SIM",  # flake8-simplify
    "TC",  # flake8-type-checking imports
    "ARG",  # flake8-unused-arguments
    "PTH",  # flake8-use-pathlib
    "FLY",  # flynt
    "I",  # isort
    "NPY",  # NumPy-specific rules
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "D",  # pydocstyle
    "F",  # pyflakes
    "PLC",  # pylint convention
    "PLE",  # pylint error
    "PLR",  # pylint refactor
    "PLW",  # pylint warning
    "UP",  # pyupgrade
    "RUF",  # Ruff-specific rules
]

ignore = [
    ### Intentionally disabled
    "PLR0913",  # Too many arguments to function call
    "PLR0911",  # Too many returns
    "PLR0912",  # Too many branches
    "PLR0915",  # Too many statements
    "PLR2004",  # Magic number
    "PLW0108",  # Lambda may be unnecessary
    "PLW2901",  # loop variable overwritten by assignment target
]

[tool.ruff.lint.per-file-ignores]
# ignore pydocstyle errors in tests
"tests/*" = ["ANN", "D"]
"perftests/*" = ["ANN", "D"]

[tool.ruff.lint.isort]
combine-as-imports = true
extra-standard-library = ["packaging"]

[tool.ruff.lint.pydocstyle]
convention = "google"