# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on:
  push:
    branches: [ main, 0.** ]
  pull_request:
    branches: [ main, 0.** ]
    paths-ignore:
      - "docs/**"
      - ".github/workflows/tests_installed.yml"
      - "*.md"
      - "*.yml"
  schedule:
    # Run every Tuesday at 2:40 UTC
    - cron: "40 2 * * 2"

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Test:
    name: ${{ matrix.env }} - python ${{ matrix.python }} - ${{ matrix.os }}
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        dev: [false]
        python: ["3.10", "3.11", "3.12"]
        env: ["latest"]
        include:
          - env: latest
            os: macos-latest
            dev: false
            python: "3.12"
          - env: latest-win
            os: windows-latest
            dev: false
            python: "3.10"
          - env: latest-win
            os: windows-latest
            dev: false
            python: "3.12"
          - env: minimal
            os: windows-latest
            dev: false
            python: "3.10"
          - env: minimal
            os: ubuntu-latest
            dev: false
            python: "3.10"

    steps:
      - uses: actions/checkout@v4

      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: '1.5.1-0'
          environment-file: ci/envs/${{ matrix.env }}.yml
          create-args: >-
            python=${{ matrix.python }}
            ${{ matrix.extra }}

      - name: Test
        run: |
          pytest --color=yes --cov=orthoseg --cov-append --cov-report term-missing --cov-report xml tests/

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}